.about {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    width: 280px;
    padding-top: 40px;
    margin-bottom: 40px;
    p {
      width: 210px;
      font-size: 20px;
      font-weight: 700;
      margin-top: 10px;
    }
    &:first-child {
      background: url('../images/icon-1.svg') no-repeat;
    }
    &:nth-child(2) {
      background: url('../images/icon-2.svg') no-repeat;
    }
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        background: url('../images/icon-#{$i}.svg') no-repeat;
      }
    }
  }
  @media($tablet-widths) {
    padding-top: 70px;
    background-image: url(../images/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    background-position: 0 0;
    &__inner {
      width: auto;
      justify-content: flex-start;
      margin-left: 0;
      margin-right: 0;
      max-width: 700px;
    }
    &__item {

    }
  }
  @media($desktop-widths) {
    &__item {
      width: 350px;
    }
  }
}