.map {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 50px;
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #map {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
  table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: collapse;
    color: #444;
    font-size: 15px;
    font-weight: 400;
    tr {
      border-bottom: 20px solid transparent;

      td {
        vertical-align: top;
        &:first-child {
          padding-right: 20px;
        }
        &:nth-child(2) {
          width: 160px;
        }
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 1px solid $accent-color;
      &:hover{
        color: #46c1ae;
      }
      &:active{
        opacity: 0.3;
      }
    }
  }
  svg {

    float: right;
    width: 47px;
    height: 81px;
  }
  @media($mobile-widths-only) {
    svg {
      display: none;
    }
  }
  @media($tablet-widths) {
    text-align: left;
    &__block{
      margin-left: 100px;
    }
    table {
      margin-right: 0;
      margin-left: 0;
      tbody {
        display: flex;

      }
      tr:first-child {
        margin-right: 40px;
      }
    }
  }
  @media($desktop-widths) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
      width: 960px;
svg{
  margin-top: 50px;
}
    table {
      margin-top: 60px;
      margin-bottom: 50px;
      tbody {
        display: block;
      }
    }
    .wrapper{
      display: flex;
      justify-content: inherit;
      padding-left: 70px;

    }
    &__block {
      margin-left: 50px;
      margin-top: 50px;
    }
    #map {
      position: absolute !important;
      right: 30px;
      top: 0;
      width: 525px;

    }
    .btn {
      margin-left: 165px;
    }
  }
  @media ($large-widths) {
    width: 1200px;
  }
}