.reviews{
  margin-bottom: 60px;
  .container{
    position: relative;
    @media($tablet-widths) {
      min-height: 457px;
      padding-top: 85px;
      background-image: url(../images/review@1x.jpg);
      background-position: 0 0;
      background-repeat: no-repeat;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

        background-image: url(../images/review@2x.jpg);
        background-size: 350px auto;

      }
    }
  }


}
.slider{
  position: relative;
  vertical-align: top;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  &__list-wrap{
    width: 100%;
    overflow: hidden;
  }
  &__list{
    @include noList;
    @include clearfix;
    width: 9000px;
    position: relative;
    transition: all 0.3s;
    left: 0;
  }
  &__item{
    float: left;
    width: 260px;
    blockquote{
      margin: 0;
      padding: 0;
    }
    p{
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 30px;
      color: #444;

    }
    cite{
      display: block;
      font-weight: 700;

    }
  }
  &__controls{
    position: relative;
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  &__controls-button{
    position: absolute;
    bottom: 0;

    svg{
      width: 51px;
      height: 26px;
      &:hover{
        opacity: 0.6;
      }
      &:active{
        opacity: 0.3;
      }
    }
    &--next{
      right: 0;

    }
    &--prev{
      left: 0;
    }
  }
  @media($tablet-widths) {
    width: 668px;
    margin-left: 0;
    margin-right: 0;
    &__item{
      width: 668px;
    }
    &__controls{
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
  @media($desktop-widths) {
    width: 784px;
    &__item{
      width: 784px;
    }
    &__controls{
      right: -100px;
    }
  }
}