.top-sale {
  padding-top: 30px;
  margin-bottom: 70px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__marker {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: $accent-color;
  }
  &__text {
    font-size: 15px;
    width: 300px;
    margin-bottom: 20px;
  }
  &__image {
    width: 100%;
    margin-bottom: 20px;
    img{
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__table {
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid #ececec;
      td:first-child {
        padding-right: 20px;
      }

    }
  }

  &__buy {
    color: #444;
    font-size: 20px;
    font-weight: 700;
  }
  @media($tablet-widths) {
    .container {
      position: relative;
    }
    &__inner {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-top: 20px;
    }
    &__text, &__image {
      margin-bottom: 0;
    }
    &__buy {
      position: absolute;
      bottom: 0;
    }
    &__image{
      width: auto;
    }
    &__marker {
      position: absolute;
      right: 0;
      top: 10px;
      width: 70px;
    }
  }
  @media($desktop-widths) {
    &__marker {
      right: auto;
      left: 45px;
    }
    &__image {
      margin-top: -100px;
    }
  }
}